*{
    margin:0;
    padding:0;
}
header img{
    height: 70px;
    margin-left: 10%;
}
section header{
    height: 30vh;
    background-color: #171A29;
}
section header img{
    float: left;
    margin: 3vh 0 3vh 12%;
    height: 24vh;
}
section header p{
    display: flow-root;
    padding: 100px 0px 100px 80px;
    color: white;
    font-size: 30px;
}
article{
    display: flex;
}
.navbar{
    height: 500px;
    flex:1.5;
    border-right: 1.5px #F6F6F7 solid;
}
.navbar ul{
    margin: 40px 30px 0 0;
    text-align: right;
}
.heading{
    font-weight:600;
    color: orange;
}
.navbar ul li{
    padding: 5px 0;
}
.menu{
    padding: 30px 30px 0 35px;
    flex:2;
}
.menu h1 ,.cart h1{
    font-size: 30px;
    color: #171A29;
}
.menu h6 ,.cart h6{
    color: gray;
}
.menu ul{
    list-style-type: none;
}
.dish img{
    height: 12px;
}
.dish{
    padding: 25px 0;
    border-bottom: 1.5px #F6F6F7 solid;
}
.dish p{
    font-size: 13px;
    color: #36454F;
}
#name{
    font-size: 17px;
    padding: 15px 0;
    color: #36454F;
}
.cart{
    padding-top: 30px;
    flex:1.5;
}
.cart a{
    text-decoration: none;
}
.cart ul{
    list-style: none;
    margin: 30px 0;
}
.price{
    margin-right:175px ;
    display: flex;
    justify-content: space-between;
}
.cart p{
    font-size: 14px;
    font-weight: 100;
    color: gray;
}
.checkoutbutton{
    color: white;
    margin:20px 175px 0 0;
    text-align: center;
    padding:10px 0;
    background-color: #32CD30
    ;
}
footer{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.img{
    padding: 20px 0;
    text-align: center;
    flex:1;  
}
footer img{
    width:100px;
}
footer p{
    padding: 20px 0;
    text-align: center;
    flex:1;
    color: white;
}
.socials{
    flex:1;
}
footer ul{
    padding: 20px 120px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
footer ul li{
    flex:1;
}
footer ul li img {
    width:40px;
}