*{
    margin:0;
    padding:0;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
}
ul{
    list-style: none;
}
main{
    min-height: calc(100vh - 155px);
}
.col-4{
    flex-basis: 33.3%;
}
