* {
    margin: 0;
    padding: 0;
}

.page-header {
    padding: 0% 10%;
}

.page-header img {
    max-height: 70px;
}

.banner {
    padding: 40px 10%;
    align-items: center;
    display: flex;
    background-color: #171A29;
}

.banner img {
    max-height: 200px;
}

h1 {
    margin-left: 70px;
    font-weight: normal;
    color: white;
    font-size: 30px;
}

main {
    min-height: calc(100vh - 155px);
}

.content {
    display: flex;
}

.categories {
    padding: 30px 30px 0 0;
    text-align: right;
    border-right: 1.5px #F6F6F7 solid;
}

.categories ul li {
    margin: 10px 0;
}

.selected {
    font-size: 17px;
    font-weight: 600;
    color: orange;
}

.menu {
    padding: 30px 30px;
}

h2 {
    font-size: 30px;
    color: #171A29;
}

.menu>p, .cart>p {
    font-size: 13px;
    color: gray;
}

.menu ul {
    list-style-type: none;
}

.dish img {
    height: 12px;
}

.dish {
    padding: 25px 0;
    border-bottom: 1.5px #F6F6F7 solid;
}

.price {
    font-size: 13px;
    color: #36454F;
}

.dish-name {
    font-size: 17px;
    margin: 15px 0;
    color: #36454F;
}

.cart {
    padding: 30px;
    padding-right: 175px;
}

.cart ul {
    list-style: none;
    margin: 30px 0;
}

.amount {
    display: flex;
    justify-content: space-between;
}

h3 {
    font-size: 17px;
}

.extra-charges {
    font-size: 14px;
    font-weight: 100;
    color: gray;
    margin-bottom: 40px;
}

.amount p {
    color: black;
    font-size: 17px;
    font-weight: bold;
}

.check-out-button {
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    border: none;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px 0;
    background-color: #32CD30;
}

footer {
    padding: 5px 0;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

footer img {
    max-width: 140px;
}

footer p {
    color: white;
}

footer ul {
    padding: 20px 120px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer ul li {
    flex: 1;
}

footer ul li img {
    max-width: 27px;
}

.col-5 {
    flex-basis: 40%;
}

.col-2 {
    flex-basis: 30%
}

.col-4 {
    flex-basis: 33.3%;
}